<section>
    <h1>Quem Sou</h1>
    <h2>Acadêmico</h2>
    <figure class="right margin-top-15">
        <%= image_tag("luizpicolo.jpg", alt: "Luiz Picolo") %>
        <figcaption>Luiz Picolo</figcaption>
    </figure>
    <p>
        Sou licenciado em História pela Universidade Federal de 
        Mato Grosso do Sul - UFMS (2011) / Campus de Nova Andradina - CPNA. 
        Atualmente sou graduando em Tecnologia em Análise e Desenvolvimento de Sistemas pelo Instituto Federal de Educação, 
        Ciência e Tecnologia de Mato Grosso do Sul - TADS - IFMS (2012) / Campus de Nova Andradina.<br> 
        Link para meu  currículo lattes: 
        <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4442275P6" title="Curriculo Lattes Luiz Picolo">Currículo Lattes</a>
    </p>
    <h2>Profissional</h2>
    <p>
        Atuo normalmente como WebDeveloper (Programador Web), mas a curiosidade me levou a trabalhar em diversas áreas 
        tais como: WebDesigner e WebStandart. 
    </p>
    <p>
        A aproximadamente desde 2007 trabalho com desenvolvimento web, porém profissionalmente a mais ou menos desde 2008. 
        Comecei a criar sites, ou como eu gosto de chamar, Projetos Web, inicialmente por curiosidade, hoje, busco a cada 
        dia um aperfeiçoamento das variadas técnicas de programação que o mercado exige. Me considero um autodidata, porém, 
        devo lembrar que muitos me ajudaram nesta caminha.<br>
        Link para meu currículo profissional:
        <a href="https://docs.google.com/document/d/1wzZ0CJsr59WUVsOU9qISLCnPYa59pb9ay3UhdwqxBII/edit?usp=sharing" title="Curriculo Profissional">Currículo</a>
    </p>
    <h2>Objetivos</h2>
    <p>
        O objetivo do meu trabalho é conquistar a atenção das pessoas. Cada pequeno elemento em uma página e cada pequena 
        frase em um texto têm vital importância para a efetiva divulgação de uma marca ou produto. O projeto acabado é 
        apenas o produto final de um trabalho que costumo chamar de “investigação”. Primeiro é feita uma análise profunda 
        sobre as necessidades e os objetivos do projeto, para daí então iniciar o seu desenvolvimento de forma mais focada e,
        por fim, levar a todos um trabalho limpo e de total qualidade.
    </p>
</section>
