<section>
    <h1>Lista de Publicações</h1> 
    <section>
        <h2>A filtragem de conteúdo na era digital.</h2>
        <time datetime="2012-01-01">01 de janeiro de 2012</time><br>
	<a href="http://webinsider.com.br/2012/01/01/a-filtragem-do-conteudo-na-era-digital/">Link para o Artigo</a> - 
	<a href="http://www.luizpicolo.com.br/wp-content/uploads/2012/01/Webinsider-Filtrar-o-conteúdo-na-era-digital-torna-se-uma-necessidade.pdf">Versão Origianl PDF</a>
        <p>De forma diferente dos buscadores, as redes sociais ajudam a destacar os conteúdos produzidos constantemente. Os filtros tornam-se mais eficientes.</p>
    </section>
    <section>
        <h2>Linux para Seres Humanos.</h2>
        <time datetime="2012-01-20">20 de janeiro de 2012</time><br>
	<a href="http://webinsider.com.br/2012/01/20/quer-testar-linux-busque-uma-distro-humanizada/">Link para o Artigo</a> - 
        <a href="http://www.luizpicolo.com.br/wp-content/uploads/2012/01/webinsiderLinux-para-seres-humanos.pdf">Versão Origianl PDF</a>
        <p>Linux é um sistema operacional livre e maravilhoso. Que seus novos adeptos sejam recebidos com o conforto a que estão acostumados.</p>
    </section>
    <section>
        <h2>Mecanismos de Busca: Contéudo e Relevância.</h2>
        <time datetime="2012-01-20">20 de janeiro de 2012</time><br>
        <a href="http://webinsider.com.br/2012/06/11/o-buscador-calcula-conteudo-e-relevancia-mas-voce-decide">Link para o Artigo</a> - 
        <a href="http://www.luizpicolo.com.br/wp-content/uploads/2012/01/webinsider-Mecanismos-de-busca_-conteúdo-e-relevância.pdf">Versão Origianl PDF</a>
        <p>O conteúdo que encontramos nas buscas é uma parcela ínfima do que existe e não podemos ver. E não deve ser encarado como fonte primária e ou verdade só porque apareceu no Google.</p>
    </section>
    <section>
        <h2>Manipulação de imagens com o Codeignite</h2>
        <time datetime="2012-01-20">13 de Junho de 2012</time><br>
        <a href="http://imasters.com.br/artigo/24710/codeigniter/manipulacao-de-imagens-com-o-codeigniter">Link para o Artigo</a> - 
        <a href="http://www.luizpicolo.com.br/wp-content/uploads/2012/01/IMaster-Manipulação-de-Imagem-no-CodeIgniter.pdf">Versão Origianl PDF</a>
        <p>Uma prática não muito casual é redimensionar imagens por demanda, em que a imagem original não é alterada e sim a apresentada ao visitante. Neste artigo abranjo um pouco sobre essa temática utilizando o Codeigniter.</p>
    </section>
</section>
