<section>
    <h1>Lista de Publicações</h1> 
    <section>
        <h2>Contribuições do uso de Data Warehouse para o Armazenamento de Dados em Bioinformática.</h2>
        <time datetime="2012-01-01">10 de Outubro de 2013</time><br>
    <a href="http://pt.scribd.com/doc/207458106/Contribuicoes-do-uso-de-Data-Warehouse-para-o-Armazenamento-de-Dados-em-Bioinforma">Versão Original</a>
        <p>Com o aumento das informações provenientes das áreas biológicas, a Biologia e a informática encontraram um ponto em comum, originando assim, a Bioinformática. Este novo ramo da ciência tem como objetivo utilizar o poder computacional para organizar e estruturar os dados de forma compreensível. Neste sentido, as tecnologias computacionais são utilizadas  para facilitar o processo de consulta, cruzamentos e agregações de dados.  Neste artigo, busca-se demonstrar os Data Warehouses e suas contribuições  para o armazenamento de dados em Bioinformática, por serem uma longa série de visões de dados tiradas ao longo do tempo, proporcionando aos  pesquisadores informações para a correlação entre os dados.</p>
    </section>
    <section>
        <h2>A filtragem de conteúdo na era digital.</h2>
        <time datetime="2012-01-01">01 de janeiro de 2012</time><br>
	<a href="http://webinsider.com.br/2012/01/01/a-filtragem-do-conteudo-na-era-digital/">Link para o Artigo</a> - 
	<a href="http://pt.scribd.com/doc/122573445/Filtrar-o-conteudo-na-era-digital-torna-se-uma-necessidade">Versão Origianl</a>
        <p>De forma diferente dos buscadores, as redes sociais ajudam a destacar os conteúdos produzidos constantemente. Os filtros tornam-se mais eficientes.</p>
    </section>
    <section>
        <h2>Linux para Seres Humanos.</h2>
        <time datetime="2012-01-20">20 de janeiro de 2012</time><br>
	<a href="http://webinsider.com.br/2012/01/20/quer-testar-linux-busque-uma-distro-humanizada/">Link para o Artigo</a> - 
        <a href="http://pt.scribd.com/doc/97891056/Linux-Para-Seres-Humanos">Versão Original</a>
        <p>Linux é um sistema operacional livre e maravilhoso. Que seus novos adeptos sejam recebidos com o conforto a que estão acostumados.</p>
    </section>
    <section>
        <h2>Mecanismos de Busca: Contéudo e Relevância.</h2>
        <time datetime="2012-01-20">20 de janeiro de 2012</time><br>
        <a href="http://webinsider.com.br/2012/06/11/o-buscador-calcula-conteudo-e-relevancia-mas-voce-decide">Link para o Artigo</a> - 
        <a href="http://pt.scribd.com/doc/207455476/webinsider-Mecanismos-de-busca-conteudo-e-relevancia">Versão Original</a>
        <p>O conteúdo que encontramos nas buscas é uma parcela ínfima do que existe e não podemos ver. E não deve ser encarado como fonte primária e ou verdade só porque apareceu no Google.</p>
    </section>
    <section>
        <h2>Manipulação de imagens com o Codeignite</h2>
        <time datetime="2012-01-20">13 de Junho de 2012</time><br>
        <a href="http://imasters.com.br/artigo/24710/codeigniter/manipulacao-de-imagens-com-o-codeigniter">Link para o Artigo</a> - 
        <a href="http://pt.scribd.com/doc/207455455/IMaster-Manipulacao-de-Imagem-no-CodeIgniter">Versão Original</a>
        <p>Uma prática não muito casual é redimensionar imagens por demanda, em que a imagem original não é alterada e sim a apresentada ao visitante. Neste artigo abranjo um pouco sobre essa temática utilizando o Codeigniter.</p>
    </section>
</section>
