<section class="clearfix">
    <h1><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, officia</a></h1>
        <figure class="left">
            <%= image_tag("1.jpg", alt: "Edit Entry") %>
            <figcaption></figcaption>
        </figure>
        <p class="clearfix">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, officia tenetur excepturi ab minima facilis doloremque explicabo vitae quaerat officiis autem repellat delectus architecto dicta aut in labore consequatur voluptatibus.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, officia tenetur excepturi ab minima facilis doloremque explicabo vitae quaerat officiis autem repellat delectus architecto dicta aut in labore consequatur voluptatibus.
        </p>  
    <a href="#" class="contLendo">Continue Lendo...</a>
</section>
<section class="clearfix">
    <h1><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, officia</a></h1>
        <figure class="right">
            <%= image_tag("2.jpg", alt: "Edit Entry") %>
            <figcaption></figcaption>
        </figure>
        <p class="clearfix">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, officia tenetur excepturi ab minima facilis doloremque explicabo vitae quaerat officiis autem repellat delectus architecto dicta aut in labore consequatur voluptatibus.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, officia tenetur excepturi ab minima facilis doloremque explicabo vitae quaerat officiis autem repellat delectus architecto dicta aut in labore consequatur voluptatibus.
        </p>  
    <a href="#" class="contLendo">Continue Lendo...</a>
</section>
<section class="clearfix">
    <h1><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, officia</a></h1>
        <figure class="left">
            <%= image_tag("3.jpg", alt: "Edit Entry") %>
            <figcaption></figcaption>
        </figure>
        <p class="clearfix">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, officia tenetur excepturi ab minima facilis doloremque explicabo vitae quaerat officiis autem repellat delectus architecto dicta aut in labore consequatur voluptatibus.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, officia tenetur excepturi ab minima facilis doloremque explicabo vitae quaerat officiis autem repellat delectus architecto dicta aut in labore consequatur voluptatibus.
        </p>  
    <a href="#" class="contLendo">Continue Lendo...</a>
</section>
<section class="clearfix">
    <h1><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, officia</a></h1>
        <figure class="right">
            <%= image_tag("4.jpg", alt: "Edit Entry") %>
            <figcaption></figcaption>
        </figure>
        <p class="clearfix">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, officia tenetur excepturi ab minima facilis doloremque explicabo vitae quaerat officiis autem repellat delectus architecto dicta aut in labore consequatur voluptatibus.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, officia tenetur excepturi ab minima facilis doloremque explicabo vitae quaerat officiis autem repellat delectus architecto dicta aut in labore consequatur voluptatibus.
        </p>  
    <a href="#" class="contLendo">Continue Lendo...</a>
</section>