<section>
    <h1>Contato</h1>
  <p>
    Entre em contato comigo. Seus comentários e sugestões são muito importantes.<br>
    No momento não atuo mais como freelancer e não tenho disponibilidade para novos trabalhos.<br>
    Se você é desenvolvedor Ruby ou PHP iniciante e está procurando informações sobre trabalho e
    carreira, acesse meu blog, é lá onde eu publico todas as dicas sobre o assunto.
    E se você quiser pode falar comigo no contato luizpicolo@gmail.com, mas já aviso que
    não respondo nada que você possa encontrar sozinho no meu blog ou no Google =)
  </p>
	<section>
        <h2><i class="fa fa-envelope-o"></i> Email</h2>
		<p>luizpicolo@gmail.com</p>
    </section>
    <section>
        <h2><i class="fa fa-facebook"></i> Facebook</h2>
		<p><a href="http://www.fb.me/luizpicolo">http://www.fb.me/luizpicolo</a></p>
    </section>
    <section>
        <h2><i class="fa fa-linkedin-square"></i> Linkedin</h2>
		<p><a href="http://www.linkedin.com/in/luizpicolo">http://www.linkedin.com/in/luizpicolo</a></p>
    </section>
    <section>
        <h2><i class="fa fa-github"></i> GitHub</h2>
		<p><a href="http://www.github.com/luizpicolo">http://www.github.com/luizpicolo</a></p>
    </section>
    <section>
        <h2><i class="fa fa-twitter"></i> Twitter</h2>
		<p><a href="http://www.twitter.com/luizpicolo_">http://www.twitter.com/luizpicolo_</a></p>
    </section>
</section>
